
a:link {
  color:white;
  text-decoration: none;
}
a:visited {
  color: white;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  color: white;
  background-color: #ffffff;
}

.header {
  margin-bottom: 5vh;
  height: 40vh;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
}

.links {
  font-size: 1.3em;
  height: 60px;
  background-color: #6e96bd;
  display: flex;
  border-bottom: 4px solid;
  border-color: #d7c980;
}

.link {
  min-width: 120px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.link-logo {
  height: 100%; 
  width: 90px;
}
.main-link {
  width: 90px;
}

.line {
  width: 100%;
  margin-top: -40px;
}

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3vh;
  max-width: 90%;
  margin: 0 auto;
}

.left-image {
  width: 700px;
  height: 700px;
  padding-right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-image {
  margin-left: -8%;
  width: 700px;
  height: 700px;
  padding-left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.circle {
  width: 600px;
  height: 600px;
  display: flex;
  justify-content: center;
  background-color: #6e96bd;
  border: 4px solid #d7c980;
  border-radius: 100%;
  padding: 120px;
}
.person-container {
  display: flex;
}
.person {
  font-size: 3vh;
	width: 80%;
  background-color: #6e96bd;
  display: flex;
  border: 4px solid;
  border-radius: 50px;
  border-color: #d7c980;
}
.person img {
  margin: 5%;
  border-radius: 3%;
  max-width: 30%;
  height: 50vh;
  object-fit: cover;
}
.person p {
  width: 70%;
  padding: 3%;
  margin: auto;
}

.introduction::after {
  content: "";
  width: 350px;
}

.text {
  margin: 100px auto 100px auto;
  width: 90%;
  padding: 5%;
  background-color: #6e96bd;
  font-size: 2em;
  border-radius: 10px;
  border: 4px solid;
  border-radius: 50px;
  border-color: #d7c980;
}

.wings_header {
  margin-left: auto;
  margin-right: 20px;
}

.color1 {
  background-color: #6e96bd;
}

.color2 {
  background-color: #337499;
}

.color3 {
  background-color: #2d6f93;
}

.color4 {
  background-color: #194358;
}

.wings {
  margin-top: -13%;
  margin-left: 70%;
  width: 30%;
}

.text-center {
  text-align: center;
}

.sponsor {
  font-size: 1.4em;
  padding: 100px;
  display: flex;
  gap: 100px;
}

.stegemann {
  color: white;
  background-color: black;
}

.vasen {
  color: green;
  background-color: white;
}
.seekamp {
  color: white;
  background-color: black;
}
.kreiter {
  color: black;
  background-color: white
}
.goodoldfriends {
  color: white;
  background-color: black;
}
